@import "~/.config/rofi/config.rasi"

window {
  width: 15%;
  padding: 10 5 10 10;
}

mainbox {
  children: [prompt, listview];
}

listview {
  columns: 2;
  lines: 1;
}

element {
  children: [element-text];
  padding: 20;
  margin: 0 5 0 0;

}

element-text {
  font: "Roboto 20";
  horizontal-align: 0.5;
}

prompt {
  enabled: true;
  padding: 0 0 10 23;
  background-color: @bg;
  border-radius: 10;
  margin: 0 5 0 0;
  font: "Roboto 20";
}
